/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
@font-face {
  font-family: "jRoboto";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Roboto-Regular.ttf) format("ttf");
}
@font-face {
  font-family: "jRoboto-Bold";
  font-weight: 400;
  font-style: Bold;
  src: url(../fonts/Roboto-Bold.ttf) format("ttf");
}
@font-face {
  font-family: "jSegoe-UI";
  font-weight: 400px;
  font-style: bold;
  src: url(../fonts/Segoe\ UI.ttf) format("ttf");
}
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  background-color: #fff;
}

a {
  font-family: "jSegoe-UI", sans-serif;
  text-decoration: none;
  color: #4C4C4C;
}

a:hover {
  text-decoration: none;
  color: #4C4C4C;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
  Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
  Author's custom styles
   ========================================================================== */
  
  :root {
    --header-color: #222222;
  }

  .header {
    width: 100%;
  }

  .header-container {
    padding-bottom: 5px;
    border-bottom: 2px solid #E0E0E0;
    display: flex;
    align-items: center;
  }

  .hero__login {
    position: relative;
    font-family: "jSegoe-UI";
    text-decoration: none;
    text-transform: uppercase;
    color: #222;
    font-size: 14px;
    margin-left: 10px;
    font-weight: normal;
  }

  .hero__login:hover {
    font-weight: bolder;
  }

  .hero__login::after {
    content: "";
    display: block;
    position: absolute;
    left:0;
    bottom:-8px;
    width: 0%;
    background-color:#525252;
    height:1px;

  }
  .hero__login:hover::after {
    width: 100%;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "jSegoe-UI", sans-serif;
    color: var(--header-color);
  }
  .hero__login-type {
    margin-top: 58px;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .header__title {
    font-family: "jRoboto-bold", sans-serif;
    font-weight: bolder;
    font-size: 14px;
    color: #2D2D2D;
  }
  
  .back-icon {
    font-family: "jSegoe-UI", sans-serif;
    font-size: 18px;
    color: #707070;
  }

  .auth__container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .phone {
    display: flex;
    align-items: center;
    background-color:#FAFAFA;
    width: 300px;
    color: #333;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #DEDEDE;
  }

  .phone:active {
    outline: none;
  }
  
  .btn {
    width: 300px;
    background-color: #3F96D0;
    margin-top: 85px;
    color: #fff;
    border-radius: 5px;
  }
  .btn:hover{
    color: #E0E0E0;
    outline: none;
  }
/* ==========================================================================
  Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

